<%- include('header.ejs') %>

  <body>
    <div class="forms">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div>
          <label for="username">Username or Email: </label>
          <input type="text" id="username" name="username" autocomplete="on" required/>
        </div>
        <div>
          <label for="password">Password: </label>
          <input type="password" id="password" name="password" autocomplete="on" required/>
        </div>
      
        <button type="submit">Login</button>
      </form>

      <%if (message) { %>
        <h3><%= message %></h3>
      <% } %>
      
      <div class="links">
        <a href="/register">Register</a>
        <a href="/" class="home">Home</a>
      </div>
    </div>
  </body>
</html>