<%- include('header.ejs') %>

  <body>
    <a href="/logout" style="padding: 20px 0 0 20px">Logout</a>
    <button type="button" id="request-play">Play</button>

    <div id="game">
      <p id='turn'>Turn: X</p>

      <div id="tictactoe">
      </div>

      <button type="button" id="new-game">New Game</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./game_logic.js"></script>
    <script src="./client.js"></script>
  </body>
</html>
