<%- include('header.ejs') %>

  <body>
    <a href="/logout">Logout</a>
    <input type="button" value="Play" id="request-play" />
    
    <div id="board">
      <div id="row1" class="row">
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
      </div>
    
      <div id="row2" class="row">
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
      </div>
      <div id="row3" class="row">
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
      </div>
      <div id="row4" class="row">
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
      </div>
      <div id="row5" class="row">
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
      </div>
      <div id="row6" class="row">
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
      </div>
      <div id="row7" class="row">
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
      </div>
      <div id="row8" class="row">
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
        <div class="dark square"></div>
        <div class="light square"></div>
      </div>
    
      <div class="red piece" id="red-1"></div>
      <div class="red piece" id="red-2"></div>
      <div class="red piece" id="red-3"></div>
      <div class="red piece" id="red-4"></div>
      <div class="red piece" id="red-5"></div>
      <div class="red piece" id="red-6"></div>
      <div class="red piece" id="red-7"></div>
      <div class="red piece" id="red-8"></div>
      <div class="red piece" id="red-9"></div>
      <div class="red piece" id="red-10"></div>
      <div class="red piece" id="red-11"></div>
      <div class="red piece" id="red-12"></div>
    
      <div class="green piece" id="green-1"></div>
      <div class="green piece" id="green-2"></div>
      <div class="green piece" id="green-3"></div>
      <div class="green piece" id="green-4"></div>
      <div class="green piece" id="green-5"></div>
      <div class="green piece" id="green-6"></div>
      <div class="green piece" id="green-7"></div>
      <div class="green piece" id="green-8"></div>
      <div class="green piece" id="green-9"></div>
      <div class="green piece" id="green-10"></div>
      <div class="green piece" id="green-11"></div>
      <div class="green piece" id="green-12"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./client.js"></script>
  </body>
</html>
