<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lbragile Checkers</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://img.icons8.com/officexs/16/000000/checkers.png"
    />
  </head>
</html>
