<%- include('header.ejs') %>

  <body>
    <div class="forms">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div>
          <label for="username">Username or Email: </label>
          <input type="text" id="username" name="username" placeholder="example@email.com" autocomplete="on" required/>
        </div>
        <div>
          <label for="password">Password: </label>
          <input type="password" id="password" name="password" placeholder="secure_pass!" autocomplete="off" required/>
        </div>
        
        <%if (message) { %>
          <h3><%= message %></h3>
        <% } %>

        <button type="submit">Login</button>
      </form>

      <div class="links">
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>