<%- include('header.ejs') %>

  <body>
    <div class="forms">
      <h1>Register</h1>
      <form  method="POST" action="/register">
        <div>
          <label for="username">Username: </label>
          <input type="text" id="username" name="username" autocomplete="on" required/>
        </div>
        <div>
          <label for="email">Email: </label>
          <input type="email" id="email" name="email" autocomplete="on" required/>
        </div>
        <div>
          <label for="password">Password: </label>
          <input type="password" id="password" name="password" autocomplete="on" required/>
        </div>
        <div>
          <label for="confirm_password">Confirm Password: </label>
          <input type="password" id="confirm_password" name="confirm_password" autocomplete="on" required/>
        </div>

        <%if (message) { %>
          <h3><%= message %></h3>
          <% if( message.includes("success") ) { %>
            <script>
              document.querySelector(".forms h3").style.background = "#D4EDDA";
              setTimeout(function() {window.location.replace("http://localhost:3000/login");}, 1000);
            </script>
          <% } else if(message.includes("Verify")){ %>
            <script>
              document.querySelector(".forms h3").style.background = "#D1ECF1";
            </script>
          <% } %>
        <% } %> 

        <button type="submit">Register</button>
      </form>

      <!-- might have more links -->
      <div class="links">
        <a href="/login">Login</a>
      </div>
    </div>
  </body>
</html>
