* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

#request-play {
  background: cyan;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: auto;
}

#board {
  width: 800px;
  margin: 10px auto;
  background: red;
  border: 1px solid black;
  position: relative;
}

.square {
  width: 100px;
  height: 100px;
}

.dark {
  background: rgb(19, 19, 19);
}

.light {
  background: rgb(241, 241, 241);
}

.row {
  display: flex;
  flex-direction: row;
}

.piece {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.piece:hover {
  cursor: move;
}

.red {
  background: red;
}

.green {
  background: green;
}

a {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
}

a:visited {
  color: blue;
}

.forms {
  position: absolute;
  left: 40%;
  top: 20%;
}

.forms h1 {
  text-align: center;
  margin-bottom: 20px;
}

.forms div {
  display: table-row;
}

.forms label {
  display: table-cell;
  text-align: right;
}

.forms input {
  outline: none;
  display: table-cell;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.forms input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 10px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.forms button {
  margin: 15px 0;
  padding: 5px;
  float: right;
  cursor: pointer;
}

.forms .links {
  text-decoration: none;
  clear: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.forms .links .home {
  border-left: solid 1px black;
  padding-left: 10px;
}

@media screen and (max-width: 1200px) {
  #board {
    width: 75%;
  }

  #board div {
    width: 100%;
  }

  .square {
    height: 100px;
  }

  .piece {
    width: 60px !important;
    height: 60px;
  }

  .forms {
    left: 35%;
    top: 30%;
  }
}

@media screen and (max-width: 992px) {
  #board {
    width: 75%;
  }

  #board div {
    width: 100%;
  }

  .square {
    height: 50px;
  }

  .piece {
    width: 40px !important;
    height: 40px;
  }

  .forms {
    left: 30%;
    top: 25%;
  }
}

@media screen and (max-width: 600px) {
  #board {
    width: 75%;
  }

  #board div {
    width: 100%;
  }

  .square {
    height: 50px;
  }

  .piece {
    width: 25px !important;
    height: 25px;
  }

  .forms {
    left: 10%;
    top: 25%;
  }
}
