* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#request-play {
  background: cyan;
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: auto;
}

#board {
  width: 800px;
  margin: 10px auto;
  background: red;
  border: 1px solid black;
  position: relative;
}

#board div {
  width: 100%;
}

.square {
  width: 100px;
  height: 100px;
}

.dark {
  background: rgb(19, 19, 19);
}

.light {
  background: rgb(241, 241, 241);
}

.row {
  display: flex;
  flex-direction: row;
}

.piece {
  width: 80px !important;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.piece:hover {
  cursor: move;
}

.red {
  background: red;
}

.green {
  background: green;
}

a {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
  max-width: 60px;
}

a:visited {
  color: blue;
}

.forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms h1 {
  text-align: center;
  margin-bottom: 20px;
}

.forms div {
  display: table-row;
}

.forms label {
  display: table-cell;
  text-align: right;
  white-space: nowrap;
}

.forms input {
  outline: none;
  display: table-cell;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.forms input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 10px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.forms button {
  margin: 15px 0;
  padding: 7px;
  float: right;
  cursor: pointer;
  background: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

.forms button:hover {
  background: #0069d9;
}

.forms .links {
  text-decoration: none;
  clear: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.forms a {
  padding: 0;
  margin: 0;
}

/* only appear if error is made  */
.forms h3 {
  text-align: right;
  margin-top: 10px;
  background: #f8d7da;
  padding: 5px;
  border-radius: 5px;
}

/* logout text */
/* h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

@media screen and (max-width: 1200px) {
  #board {
    width: 640px;
  }

  .square {
    height: 80px;
  }

  .piece {
    width: 60px !important;
    height: 60px;
  }
}

@media screen and (max-width: 992px) {
  #board {
    width: 560px;
  }

  .square {
    height: 70px;
  }

  .piece {
    width: 52.5px !important;
    height: 52.5px;
  }
}

@media screen and (max-width: 600px) {
  #board {
    width: 360px;
  }

  .square {
    height: 45px;
  }

  .piece {
    width: 33.75px !important;
    height: 33.75px;
  }
}
